@import url("Styles/texts.css");

@font-face {
    font-family: 'jbm'; /*a name to be used later*/
    src: url('Assets/JetBrainsMonoNL-Regular.ttf'); /*URL to font*/
}

* {
    margin: 0;
    padding: 0;
    font-family: 'jbm','JetBrains Mono', serif;
    color: white;
}

html {
    background: #020024;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 25, 79, 1) 100%);
}

.BG {
    z-index: -100;
    position: fixed;
    background-image: url('Assets/bg.svg');
    background-color: rgb(58, 106, 211);
    background-size: 20vh;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    perspective: 10cm;
    transform: perspective(3cm);
}

.loader {
    z-index: 100;
    position: fixed;
    background-image: url("Assets/Loader/Circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150vmax;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center; 

    img {
        width: 8vw;
        margin: auto;
        padding: 4vw;
    }
    justify-content: center;
    .blockcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: fit-content;
        margin: auto;
        
    }
}