
.titlecontainer {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.mainpage {
    margin: 0;
    padding: 0;
    font-size: 6vmax;
}
h1 {
    text-align: center;
}