html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at center, #494949 1px, transparent 0);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-color: #222;
    justify-content: center;
    display: flex;
    align-items: center;
    p {
        height: 20vh;
    }
    h2 {
        text-align: right;
    }
    h1 {
        padding-bottom: 5vh;
    }
}
.texts {
    max-width: 50%;

}

* {
    color: #fff;
    transition-duration: 0.1s;
    font-family: "JetBrains Mono",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}